*
{
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}
body
{
	font-size: 5vw;
	height: 50vh;
	margin-top: 25vh;
	margin-bottom: 25vh;
	text-align: center;
	background-color: #fdcd17;
	color: rgb(20,20,20);
}
