*
{
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	overflow-x: hidden;
}
body
{
	width: 100vh;
	background-color: rgb(20,20,20);
	color: white;
}

header
{
	color: white;
	text-align: center;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	background: linear-gradient(95deg, rgb(242, 112, 156), rgb(255, 148, 114));
	width: 100%;
}

#ch_cont
{

	font-size: 14pt;
	width: 400px;
	margin-left: 50px;
	padding: 20px;
	border-radius: 20px;
	line-height: 35pt;
}

.forms
{
	line-height: 35pt;
	font-size: 14pt;
	width: 400px;
	margin: 0px 50px 50px 50px;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.5);
}

.link_buts
{
	margin-right: 10px;
	text-decoration: none;
	cursor: pointer;
	padding: 5px;
	border: solid 1px #fdcd17;
	border-radius: 10px;
	background: transparent;
	user-select: none;
}

.link_buts:hover
{
	color: white;
	background-color: #fdcd17;
	box-shadow: 0px 0px 10px 0px #fdcd17;

}

.select-f
{
	font-size: 14pt;
	border-radius: 10px;
	padding: 2px;
	border: solid 1px grey;
}

#inp_pages
{
	text-align: center;
	width: 40px;
}

#calc_but
{
	font-size: 14pt;
	padding: 5px;
	color: white;
}

#form-s { display: none; line-height: 32.5pt;}
#form-b { display: none; }
