*
{
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}

footer
{
	font-size: 20pt;
	font-weight: 600;
	color: black;
	padding-left: 5vw;
	padding-top: 2.5vh;
	padding-bottom: 5vh;
	position: fixed;
	height: 15vh;
	bottom: 0; left: 0; right: 0;
	background-color: #fdcd17;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 55%}
    50%{background-position:100% 46%}
    100%{background-position:0% 55%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 55%}
    50%{background-position:100% 46%}
    100%{background-position:0% 55%}
}
@keyframes AnimationName {
    0%{background-position:0% 55%}
    50%{background-position:100% 46%}
    100%{background-position:0% 55%}
}
body
{
	max-height: 1000px;
	width: 100%;
	background-color: rgb(20,20,20);
	color: white;
}
header
{
	color: black;
	text-align: center;
	padding: 20px 0 20px 0; 
	box-shadow: 0px 0px 20px 0px #fdcd17;
	background: #fdcd17;
	width: 100%;
	background: linear-gradient(123deg, #fdcd17, #e38400);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 11s ease infinite;
	-moz-animation: AnimationName 11s ease infinite;
	animation: AnimationName 11s ease infinite;
}

#alpha_but
{
	font-size: 20px;
	padding-bottom: 5px;
	text-align: center;
	color: black;
	background-color: rgba(255,255,255,1);
	border: none;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	position: fixed;
	display: inline-block;
	height: 35px;
	width: 35px;
	top: 10vh;
	margin-left: 610px;
	border-radius: 50%;
}

#alpha_but:hover
{
	color: white;
	font-weight: 600;
	background: rgba(253, 205, 23, 1);
	box-shadow: 0px 0px 10px 0px rgba(253, 205, 23, 1);
}
#ch_cont
{

	font-size: 14pt;
	width: 400px;
	margin-left: 50px;
	padding: 20px;
	border-radius: 20px;
	line-height: 35pt;
}

.forms
{
	line-height: 30pt;
	font-size: 12pt;
	width: 310px;
	margin: 0px 50px 50px 50px;
	padding: 20px 0 20px 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 0px #fdcd17;
}

.link_buts
{
	margin-right: 10px;
	text-decoration: none;
	cursor: pointer;
	padding: 5px;
	border: solid 1px #fdcd17;
	border-radius: 10px;
	background: transparent;
	user-select: none;
}

.link_buts:hover
{
	color: white;
	background-color: #fdcd17;
	box-shadow: 0px 0px 10px 0px #fdcd17;

}

.select-f
{
	font-size: 12pt;
	border-radius: 10px;
	padding: 2px;
	border: solid 1px grey;
}

#inp_pages, #inp_pages_lam
{
	text-align: center;
	width: 40px;
}

#calc_but, #calc_but_lam
{
	font-size: 14pt;
	padding: 5px;
	color: white;
}

#form-s, #form-b { display: none; line-height: 32.5pt;}


#alpha
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: justify;
	padding-top: 150px;
	background: rgba(0,0,0,0.7);
	height: 600px;
	width: 700px;
	cursor: pointer;
}

#alp_head
{
	width: 550px;
	padding-left: 75px;
	height: 550px;
	padding-top: 75px;
}